.App {
  text-align: center;
}

/* ::-webkit-scrollbar {
  width: 7px;
}

::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
    border-radius: 10px;
}
 
::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
    background-color: hsla(0, 0%, 100%, 0.55);;
} */

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.h-fullscreen {
  height: 100vh;
}

.blurred-card {
  backdrop-filter: blur(20px) brightness(200%);
  border: 1px solid white;
}
.card {
  background-color: rgb(131 129 129 / 58%);
  cursor: pointer;
}
.card:hover {
  background-color: hsla(0, 0%, 100%, 0.55);
}
.subcard {
  word-break: break-all;
  padding: 2.1rem;
}

.card:active,
.btn-primary:focus {
  border: none !important;
  box-shadow: none !important;
  background-color: rgb(131 129 129 / 58%) !important;
}
.bg-color {
  background-color: rgb(131 129 129 / 58%);
}

.bg-color:hover {
  background-color: hsla(0, 0%, 100%, 0.55);
}
.quiz_content
{
  top: 50%;
  transform: translateY(-50%);
  right: 10%;
}